<div class="container">
  <span class="header">Pizzaria Horácio</span>
    <div id="container_demo">
      <div id="wrapper">
        <div id="comanda">
          <h1>COMANDA</h1>

        <form [formGroup]="FormComanda" (ngSubmit)="onProcessar()">
            <p>
              <label>Chopp</label>
              <input type="text" name="inChopp" formControlName="chopp"/>

            </p>
            <p>
              <label>Pizzas</label>
              <input type="text" name="inPizzas" formControlName="pizzas"/>
            </p>
            <p>
              <label>Recheios</label>
              <input type="text" name="inRecheios" formControlName="recheios"/>
            </p>
            <p>
              <label>Pessoas</label>
              <input type="text" name="inPessoas" formControlName="pessoas"/>
            </p>

            <p class="keepcomanda">
              <input type="checkbox" name="inServico" formControlName="taxa"/>
              <label>Taxa de serviço</label>
            </p>

            <p class="comanda button">
              <input type="submit" value="Registrar" />
            </p>
          </form>
          <p class="about">Mateus e Bianca</p>
      </div>
    </div>
  </div>
</div>
